<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8" />
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="form-group">
    {notempty name="$Think.session.name"}
   你好，{$Think.session.name}
    <a href="{:url('logout')}">
        <button type="button" class="btn btn-success">退出登录</button>
    </a>
    {else /}
    <a href="{:url('login')}">
        <button type="button" class="btn btn-info">去登录</button>
    </a>
    {/notempty}
</div>
</body>
</html>
